body{
    background-color: #a3a3a3;
    background-image: url("img/back.png");
    background-size: 100px; /*여기서 배경 사이즈를 좀 더 줄이고 싶은데 왜 안 줄여질까요...?*/

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 16px;

    font-family: "Noto Sans KR", sans-serif;
}

.bookcover{
    margin : 100px auto;
    background-color: #EBEEFF;
    border: 1px solid #bec6f1;
    border-radius: 9px;
    width : 960px;
    height: 660px;
    position: relative; /*bookdot 요소에서 absolute 속성을 사용하기 위해 realtive로 설정*/
}

.bookdot{
    border : 2px dashed white; /*dashed : 점선 효과를 줌!*/
    border-radius: 9px;
    top : 15px;
    bottom : 15px;
    left : 15px;
    right : 15px;
    position: absolute;
}

.page{
    top : 10px;
    bottom : 10px;
    left : 10px;
    right : 10px;
    padding: 15px;
    background-color: #eeeeee;
    margin: 10px;
    border-radius: 9px;
    position: absolute;
    display: flex; /*얜 뭘까?*/
}

.container1{
    flex: 0.4;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.container2{
    flex:1;
    display: flex;
    flex-direction: column;
}

.menu-container{
    flex: 0.15;
    
}

.header{
    flex : 0.1;
}

.box{
    background-color: white;
    flex: 3;
    border-radius: 10px;
    border: 1px solid #cdcdcd;
}

.content-title{
    display: flex;
    align-items: center;
}

.profile_message{
    flex: 1;
}

.content-title-url{
    flex: 1;
    font-size: 0.5rem;
    text-align: end;
    color: black;
}

.visitor_box{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.color-red{
    color: red;
}

.profile-box{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.profile_image{
    flex: none;
}

.profile-image-img {
    width: 100%;
    height: 100%;
}

.profile-text{
    margin-top: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.7;
    flex: 1;
    font-size: 12x;
}

.profile-username{
    flex: 0;
}

.content-box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;
}

.menu-button button{
    width: 80px;
    text-align: left;
    margin-bottom: 0.9rem;
    font-size: 1rem;
    font-family: "NeoDunggeunmo";
    padding: 0.4rem;
    background-color: #3B87AB;
    color: white;
    border-radius: 0 5px 5px 0;
    border: 1px solid grey;
}

.menu-button:first-child{
    margin-top: 3rem;
}

a button:hover{
    background-color: #6B66FF;
    color: white;
}

.profile-dropdown{
    flex: 0;
    border: 1px solid #c9d4da;
    padding: 5px;
    margin-top: 10px;
    font-size: 0.8rem;
    position: relative;
}

.triangle-down{
    width:0;
    height: 0;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #838383;
}

.dropdown-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.profile-dropdown:hover > .dropdown-content{
    display: block;
}

.dropdown-content > a{
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    padding: 6px;
    color: black;
    text-decoration: none;
}

.dropdown-content > a:hover{
    background-color: #f1f1f1;
}